Normalization/src/__pycache__/HopefulDaugman.cpython-38.pyc
Normalization/src/__pycache__/Normalization.cpython-38.pyc
Normalization/src/__pycache__/segment.cpython-38.pyc
Normalization/src/__pycache__/boundary.cpython-38.pyc
Normalization/src/__pycache__/line.cpython-38.pyc
